# Dfns API Configuration
DFNS_API_URL=https://api.dfns.io
DFNS_ORG_ID=
DFNS_AUTH_TOKEN=
DFNS_CRED_ID=
DFNS_PRIVATE_KEY=

# Dfns Wallet IDs
BANK_WALLET_ID=
SENDER_WALLET_ID=
RECEIVER_WALLET_ID=

# Blockchain Configuration
BLOCKCHAIN_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
