# Dfns credentials
DFNS_API_URL=https://api.dfns.io
DFNS_ORG_ID='or-...'
DFNS_AUTH_TOKEN='eyJ0...'
DFNS_CRED_ID=...
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----'

# Dfns wallet IDs
ISSUER_WALLET_ID='wa-...'

# After "npm run register:schema"
SCHEMA_UID=...
